/* Tablet 768 */
@media screen and (min-width: 769px) {
    /* General */
    .container {
        width: 90%;
        margin: 0 auto;
    } 

    img {
        max-width: 100%;
    }

    p {
        font-size: 1.2rem;
    }

    /* MAIN */
    /* Demo section */
    .demo .row {
        display: flex;
        gap: 10px;
        padding: 10px 0;
    }

    .content-left {
        text-align: left;
        width: 67%;
    }

    .phone img {
        height: 200px;
    }

    .content-right {
        width: 33%;
    }

    .second-row {
        display: flex;
        gap: 10px;
    }

    .informations {
        width: calc(100% / 3);
    }

    /* Planning section */
    

    /* Parter section */

    .card {
        display: flex;
    }

    /* benefits section */

    .benefit-row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .benefits-card {
       width: calc((100% / 2) - (20px / 2));
    }

    /* About us section */
    .about-us-content {
        display: flex;
        gap: 30px;
    }

}

/* Dekstop 992*/
@media screen and (min-width: 992px) {
    /* COMMON */
    /* General */

    .container {
        width: 70%;
        max-width: 1100px;
    }

    /* HEADER */
    .menu {
        display: none;
    }

    .nav-bar {
        display: inline-block;
        color: white;
    }

    .nav-bar a {
        margin: 0 10px;
    }

    .nav-bar a:last-child {
        color: black;
        background-color: white;
        display: inline-block;
        border-radius: 20px;
        padding: 10px;
    }

    /* MAIN */
    /* Demo section */

    .content-left {
        display: flex;
    }
    
    .phone img {
        margin-top: 25px;
    }
    /* Planning section */

    .planning-content {
        display: flex;
        justify-content: space-between;
    }

    .strategic-planning img {
        margin-bottom: 50px;
        margin-top: 25px;
    }

    .app-planning {
        margin-top: 90px;
        margin-left: 36px;
    }

    /* Benefits section */

    .benefits-card {
        width: calc((100% / 3) - (20px / 3));
     }
}