/* Tablet 768 */
@media screen and (min-width: 769px) {
    /* General */
    .container {
        width: 95%;
    }

    /* MAIN */
    /* Demo section */
    .demo .row {
        display: flex;
        gap: 10px;
        padding: 10px 0;
    }

    .content-left {
        width: 67%;
    }

    .content-right {
        width: 33%;
    }

    .second-row {
        display: flex;
        gap: 10px;
    }

    .informations {
        width: calc(100% / 3);
    }

    /* Planning section */
}