* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'PT Sans', sans-serif;;
}

img {
    max-width: 100%;
}

/* COOMON */
/* layout */
.container {
    width: 80%;
    margin: 0 auto;
}
.bnt {
    background-color: #0084FD;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 70px;
    border-radius: 30px;
    font-size: .8rem;
}

h3 {
    font-size: 1.2rem;
    color: #0C8AFD;
}

p {
    font-size: .8rem;
    padding: 20px 0;
}

/* HEADER */
.header {
    background-color: #9792E4;
    height: 80px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu a {
    color: white;
}



.nav-bar {
    display: none;
}

/* MAIN */
/* Demo section */

.row  {
    margin: 10px 0;
}

.content-left,
.content-right {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #B5DDFF;
}


.content-left .bnt {
    margin: 20px 0;
}


.content-right i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.phone img {
    height: 200px;
}

.second-row .informations {
    margin: 10px 0;
}

.informations {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #B5DDFF;
}

.informations i {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Planning section */
.planning {
    padding: 20px 0;
    background-color: #9792E4;
}

.strategic-planning {
    margin-bottom: 1rem;
    /* debug */
    background-color: aquamarine;
}

.app-planning {
    background-color: aquamarine;
    /* debug */
    height: 200px;
}

/* Partners section */
.partner {
    padding: 20px 0;
}


.testimonial {
    /* debug */
    height: 100px;
    background-color: lightblue;
}

.partners-card {
    padding: 20px 0;
}

.card {
    text-align: center;
    margin: 10px 0;
    background-color: #9792E4;
    /* debug */
    height: 100px;
}

.benefits-card {
    margin: 10px 0;
    /* debug */
    background-color: lightcoral;
    min-height: 100px;
}